{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'pyfb-kamailio:pyfb_kamailio_acccdr_list' %}">AccCdr Listing</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>start_time</td>
    <td>end_time</td>
    <td>duration</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.start_time }}</td>
    <td>{{ object.end_time }}</td>
    <td>{{ object.duration }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'pyfb-kamailio:pyfb_kamailio_acccdr_create' %}">Create new AccCdr</a>
{% endblock %}
