{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'pyfb-kamailio:pyfb_kamailio_dialogvar_list' %}">DialogVar Listing</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>hash_entry</td>
    <td>hash_id</td>
    <td>dialog_key</td>
    <td>dialog_value</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.hash_entry }}</td>
    <td>{{ object.hash_id }}</td>
    <td>{{ object.dialog_key }}</td>
    <td>{{ object.dialog_value }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'pyfb-kamailio:pyfb_kamailio_dialogvar_create' %}">Create new DialogVar</a>
{% endblock %}
