{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'pyfb-kamailio:pyfb_kamailio_htable_list' %}">Htable Listing</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>key_name</td>
    <td>key_type</td>
    <td>value_type</td>
    <td>key_value</td>
    <td>expires</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.key_name }}</td>
    <td>{{ object.key_type }}</td>
    <td>{{ object.value_type }}</td>
    <td>{{ object.key_value }}</td>
    <td>{{ object.expires }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'pyfb-kamailio:pyfb_kamailio_htable_create' %}">Create new Htable</a>
{% endblock %}
