{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'pyfb-kamailio:pyfb_kamailio_locationattrs_list' %}">LocationAttrs Listing</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>ruid</td>
    <td>username</td>
    <td>domain</td>
    <td>aname</td>
    <td>atype</td>
    <td>avalue</td>
    <td>last_modified</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.ruid }}</td>
    <td>{{ object.username }}</td>
    <td>{{ object.domain }}</td>
    <td>{{ object.aname }}</td>
    <td>{{ object.atype }}</td>
    <td>{{ object.avalue }}</td>
    <td>{{ object.last_modified }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'pyfb-kamailio:pyfb_kamailio_locationattrs_create' %}">Create new LocationAttrs</a>
{% endblock %}
