{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'pyfb-kamailio:pyfb_kamailio_mtree_list' %}">Mtree Listing</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>tprefix</td>
    <td>tvalue</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.tprefix }}</td>
    <td>{{ object.tvalue }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'pyfb-kamailio:pyfb_kamailio_mtree_create' %}">Create new Mtree</a>
{% endblock %}
