{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'pyfb-kamailio:pyfb_kamailio_pipelimit_list' %}">PipeLimit Listing</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>pipeid</td>
    <td>algorithm</td>
    <td>plimit</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.pipeid }}</td>
    <td>{{ object.algorithm }}</td>
    <td>{{ object.plimit }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'pyfb-kamailio:pyfb_kamailio_pipelimit_create' %}">Create new PipeLimit</a>
{% endblock %}
