{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'pyfb-kamailio:pyfb_kamailio_userblacklist_list' %}">UserBlackList Listing</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>username</td>
    <td>domain</td>
    <td>prefix</td>
    <td>whitelist</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.username }}</td>
    <td>{{ object.domain }}</td>
    <td>{{ object.prefix }}</td>
    <td>{{ object.whitelist }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'pyfb-kamailio:pyfb_kamailio_userblacklist_create' %}">Create new UserBlackList</a>
{% endblock %}
