{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'pyfb-kamailio:pyfb_kamailio_version_list' %}">Version Listing</a></p>
<table class="table">
<tr><td>table_name</td><td>{{ object.table_name }}</td></tr>
<tr><td>table_version</td><td>{{ object.table_version }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit Version</a>

{% endblock %}
